$heading-height: 7.2rem;
$submenu-bg-color: get-color('light-glare');
$mobileMenuItemBorder: 1px solid rgba(get-color('secondary'), 0.3);

.nav {
  line-height: 1;
  font-weight: 700;
  width: 100%;

  // from tut
  position: fixed;
  height: calc(100vh - #{$heading-height});
  top: $heading-height;
  left: 0;
  background-color: get-color('light-shade');;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(100%);
  transition: .65s;
  border-top: $mobileMenuItemBorder;
  
  
  &[data-open="true"]{
    transform: translateX(0);
  }
  
  @include media-query('md') {
    display: flex; 
    border-top: none;
    padding: 0;
    display: block;
    position: static;
    background-color: transparent;
    height: auto;
    transform: translateX(0);
    overflow-x: visible;
    overflow-y: visible;
    transition: none;
  }
  
  &__list {
    width: 100%;
    justify-items: center;
    
    @include media-query('md') {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    > li {
      border-bottom: $mobileMenuItemBorder;
      flex: 1;
      position: relative;
      
      @include media-query('md') {
        border: none;
        display: flex;
        justify-content: center;
      }

      > a, > button {
        width: 100%;
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        text-decoration: none;
        justify-content: space-between;
        align-items: center;
        position: relative;
        color: get-color('secondary');
        padding: get-size('300');
        outline-offset: -0.25rem;
        
        
        
        svg {
          width: 1rem;
          height: 1rem;
          margin-left: 0.25rem;
        }
        
        &:hover {
          color: get-color('primary');
        }
        
        @media screen and (min-width: 960px) {
          white-space: nowrap;
        }

        @include media-query('md') {
          font-size: 1.1rem;
          padding: 0;
          margin: get-size('300');
          width: auto;
          outline-offset: 0.25rem;
          &:hover {
            transform: scale(1.1);
            transition: .1s;
            color: get-color('primary');
          }
        }
      }
    }

    
    
      
    // Adds the fake border to active state items
    &[data-state='active'],
    &[aria-current='page'] {
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 0.25rem;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 0.25rem;
        background: get-color('quinary-shade');
      }
    }
  }

  li.nav__brand {
    display: none;
    position: relative;
    flex: 0 0 140px;

    @include media-query('md') {
      display: block;
    }
    
    a {
      display: block;
      position: absolute;    
      bottom: -20px;
      left: 0px;
      display: block;
      padding: 0!important;

      img {
        width: 140px;
        height: 120px;
      }
     }
  }

  ul.nav__submenu {    
    background-color: $submenu-bg-color;
    position: relative;
    
    @include media-query('md') {
      padding: get-size('400') 0;
      width: 12rem;
      position: absolute;
      top: 105%;
      left: 0.2rem;
      box-shadow: 
      0 2px 4px rgba(get-color('secondary'), 0.05),
      0 2px 18px 3px rgba(get-color('secondary'), 0.1);
    }

    .arrow{
      position: absolute;
      width: 11px;
      height: 11px;
      top: -5.5px;
      left: 32px;
      background-color: $submenu-bg-color;
      transform: rotate(45deg);
      cursor: pointer;
      transition: .3s;
      border-top: $mobileMenuItemBorder;
      border-left: $mobileMenuItemBorder;
      z-index: 3;

      @include media-query('md') {
        border: none;
      }
    }

    li {
      border-top: $mobileMenuItemBorder;
      @include media-query('md') {
        border-top: none;
      }
    }

    a {
      font-size: 1rem;
      padding: get-size('200') get-size('500');
      color: rgba(get-color('secondary'), 0.7);
      display: block;
      text-decoration: none;
      // text-transform: uppercase;
      // letter-spacing: 0.05em;
      font-weight: 700;
      line-height: 1.3;
      outline-offset: -0.25rem;

    }
  }
  
}

