<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <div class="wrapper">

    <div class="[ topbar ] [ site-head__topbar ] [ font-base ]">
      <ul class="topbar__languages">
          <li>
            {% include "partials/svg/icon-language.svg" %}
          </li>
          <li>
            <a href="/en" {{ helpers.getLinkActiveState('/en/', page.url) | safe }}>EN</a> /
          </li>
          <li>
            <a href="/es" {{ helpers.getLinkActiveState('/es/', page.url) | safe }}>ES</a> /
          </li>
          <li>
            <a href="/ro" {{ helpers.getLinkActiveState('/ro/', page.url) | safe }}>RO</a>
          </li>
      </ul>
      <ul class="topbar__social">
        <li>
          <a href="https://www.facebook.com/Timisoara.Tour.Guide" target="_blank" rel="noopener noreferrer">{% include "partials/svg/icon-fb.svg" %}</a>
        </li>
        <li>
          <a href="http://www.tripadvisor.co.uk/Attraction_Review-g298478-d7211668-Reviews-Timisoara_Tour_Guide-Timisoara_Timis_County_Western_Romania_Transylvania.html" target="_blank" rel="noopener noreferrer">{% include "partials/svg/icon-tripadvisor.svg" %}</a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/TimisoaraTourGuide" target="_blank" rel="noopener noreferrer">{% include "partials/svg/icon-youtube.svg" %}</a>
        </li>
        <li>
          <a href="https://www.instagram.com/timisoara_tour_guide/" target="_blank" rel="noopener noreferrer">{% include "partials/svg/icon-instagram.svg" %}</a>
        </li>
      </ul>
    </div>

    <div class="site-head__inner" x-data="{ mainMenuisOpen: false }">

      <div class="site-head__brand-mobile">
        <a href="/">
          <img src="/images/timisoara-tour-guide-logo.png" alt="Timisoara Tour Guide Logo" />
        </a>
      </div>
     
      <nav class="[ nav ] [ site-head__nav ]" 
        id="nav-list"
        aria-label="Main Menu" 
        x-bind:data-open="mainMenuisOpen" 
        :aria-expanded="mainMenuisOpen" 
      >
        <ul class="nav__list">

          {% macro generateNavItems(navObject = {}, start = 0, end = 3) %}
            {% for i in range(start,end) -%}
              {% if navObject[i].children.length > 0 %}
                
              <li
                x-data="{ subMenu{{i}}isOpen: false }"
              >
                <button
                  aria-label="{{ navObject[i].name}} sub-menu toggle"
                  aria-controls="{{ navObject[i].name | makeId}}-submenu" 
                  aria-haspopup="true"
                  aria-expanded="false"
                  @click="subMenu{{i}}isOpen = !subMenu{{i}}isOpen"
                >
                  {{navObject[i].name}} 
                  {% include "partials/svg/icon-caret-down.svg" %}
                </button>
                
                <ul class="nav__submenu"
                  x-show="subMenu{{i}}isOpen"
                  @click.away="subMenu{{i}}isOpen = false"
                  id="{{ navObject[i].name | makeId}}-submenu" 
                  aria-label="{{ navObject[i].name}} sub-menu"
                  {# :data-show="submenuVisible" #}
                >
                  {% for subItem in navObject[i].children %}
                  <li><a href="/{{languagePrefix}}{{subItem.url}}">{{subItem.name}}</a></li>
                  {% endfor %}
                  <div class="arrow"></div>
                </ul>
              </li>
              {% else %}            
              <li><a href="/{{languagePrefix}}{{navObject[i].url}}">{{navObject[i].name}}</a></li>            
              {% endif %}
            {%- endfor %}
          {% endmacro %}

          {{ generateNavItems(menu, 0, 3) }}
          <li class="nav__brand">
            <a href="/" aria-label="Timisoara Tour Guide home page">
              <img src="/images/timisoara-tour-guide-logo-square.png" alt="Timisoara Tour Guide Logo - Square"/>
            </a>
          </li>
          {{ generateNavItems(menu, 3, 6) }}

        </ul>
      </nav>
     

      <div class="hamburger-menu__container">
          <button 
            aria-controls="nav-list" 
            aria-label="Main Menu toggle" 
            :aria-expanded="mainMenuisOpen" 
            class="hamburger-menu"  
            @click.prevent="mainMenuisOpen = !mainMenuisOpen" 
            x-bind:data-open="mainMenuisOpen" 
            >
              <div></div>
          </button>
      </div>

    </div>
  </div>
</header>